/*
MAIN LOOK OF PAGE
colors: #52b788
*/

body{
    background: #161616;
    color: #fff;
    font-family: sans-serif;
}

/*
If container is ever needed
*/
.container {
    width: 80%;
    margin: 0 auto;
}


/*
NAV BAR OF THE PAGE
*/


nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: 17px;
    
    
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/*
FOOTER
*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
}

.footer-content-right{
    padding-right: 40px;
    float: right;
    margin-top: 15px
}

.icon-style{
    height: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}


/*
Basic logic for styling our login/signup forms
*/
.login-signup-forms{
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%,-50%);  
    width: 30%;
}


.login-user{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0,.6);
    border-radius: 10px;
    width: 60%;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
}

.login-email{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0,.6);
    border-radius: 10px;
    width: 60%;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    
}

.login-pass{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0,.6);
    border-radius: 10px;
    width: 60%;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
}

.signup-login-form label {
    display: block;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
}

.login-signup-button{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: auto;
    margin-left: 25%;
    margin-bottom: 30px;
    font-weight: 900;
    background-color: white;
}

.login-signup-button:hover{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: auto;
    margin-left: 25%;
    margin-bottom: 30px;
    font-weight: 900;
    background-color: grey;
}

/*
LOGIC FOR STYLING OUR FORMS FOR CREATING, UPDATING, and DELETEING A LIST
*/
.create-list-name{
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0,.6);
    border-radius: 10px;
    width: 75%;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    display: block;

}

.create-list-description{
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0,.6);
    border-radius: 10px;
    width: 75%;
    height: 60px;
    font-weight: 900;
    font-size: 25px;
    display: block;
    text-align: center;

}

.create-list-form label{
    display: block;
    margin: auto;
    font-size: 25px;
    font-weight: 600;

}


.create-task-form label{
    display: block;
    margin: auto;
    font-size: 25px;
    font-weight: 600;

}

.create-new-task {
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    border: 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0,.6);
    border-radius: 10px;
    width: 75%;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    display: block;

}









/*
Trying out effects for index page
*/
.text_container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
  
  .index-big-text {
    font-size: 7rem;
    text-shadow: 4px 4px 25px whitesmoke;
    font-family: 'Boska', serif;
    mix-blend-mode: screen;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    
  }
  
  .slogan {
    font-size: 1.2em;
    color: whitesmoke;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 4px 4px 25px whitesmoke;
    font-family: 'Boska', serif;
    mix-blend-mode: screen;
  }

  .homepage-button{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    font-weight: 900;
}

.homepage-button:hover{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    font-weight: 900;
    background-color: grey;
}


.card {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 100px;
	position: relative;
	width: max(50vw, 350px - 3vw);
	height: 65vmin;
	background: #161616;
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 15px 15px 37px -10px #7e7e7e;
 	overflow: hidden;
}
.card:hover {cursor: pointer;}

.text-holder {
	width: 60%;
	margin: clamp(1rem, 6%, 3rem);
}
h1, p {
	margin-bottom: clamp(.5rem, 2%, 1rem);
	transition: transform .4s ease-in-out, opacity .4s ease-in-out;
}
h1 {
	font-size: clamp(1.5rem, 4vw, 2rem);
}
p {
	font-size: clamp(0.8rem, 3vw, 1.5rem);
}
.toggled p, .toggled h1 {
	transform: translateY(100px);
	opacity: 0;
}

.image-holder {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	width: 20%;
	height: 90%;
	background-size: cover;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px 0 rgba(0 0 0 / 0.7);
	transition: all .4s ease-in-out .075s;
}

.toggled .image-holder {
	right: 0;
	height: 100%;
	width: 100%;
}


/*
BASIC STYLING OF SOME COMPONENTS ON MY WEBPAGE
*/
.center-content{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
	position: relative;
	width: max(50vw, 350px - 3vw);
	background: #161616;
	border: 1px solid white;
	border-radius: 15px;
	box-shadow: 15px 15px 37px -10px #7e7e7e;
    padding: 20px;
    text-align: center;
}

.create-buttons{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    width: 150px;
    font-weight: 900;
    background-color: white;

}


.delete-buttons{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    width: 150px;
    font-weight: 900;
    background-color: grey;

}

.update-buttons{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-weight: 900;
    background-color: white;

}

.todo-names{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.todo-names:hover{
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}


/*
ABOUT PAGE STYLING
*/
