<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static 'css/master.css' %}">
    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    -->
    <title>Base File</title>
</head>
<body>
    <!--
        NAV BAR CONSTRUCTION
    -->
    <header>
        <div class='container'>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'lists:show-list' %}">My To-Dos</a></li>
                    <li><a href="{% url 'aboutpage'%}">About</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'homepage' %}">Home</a></li>
                    <li><a href="{% url 'aboutpage' %}">About</a></li>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">SignUp</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class='main-content'>
    {% block content %}{% endblock %}
    </div>

    
    
</body>
<script type='javascript' src="{% static 'ToDo/js/master.js'%}"></script>
</html>