{% extends 'base.html' %}
{% block content %}

<div class="text_container">
    <h1 class='index-big-text' contenteditable="true">To-Do</h1>
    <p class='slogan'>Editable in everyway...</p>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}"><input type='submit' class='homepage-button' value="Logout"></a>
    {% else %}
    <a href="{% url 'accounts:signup' %}"><input type='submit' class='homepage-button' value="Get Started"></a>
    {% endif %}
</div>

<section class="section">
    <div class="section_inner">
      <h2 class="section_title">section</h2>
      <p class="section_description">This is to test the functionality of this effect</p>
    </div>
  </section>
  
  <section class="section js-section">
    <div class="section_listWrapper js-listWrapper">
      <ul class="section_list js-list">
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/N0RwM4Bj/naan.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/rmG34F4V/naan2.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/N0RwM4Bj/naan.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/rmG34F4V/naan2.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/N0RwM4Bj/naan.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/rmG34F4V/naan2.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/N0RwM4Bj/naan.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/rmG34F4V/naan2.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="section_image">
            <img src="https://i.postimg.cc/N0RwM4Bj/naan.jpg" width="880" height="550" alt="">
          </div>
        </li>
        <li class="section_item">
          <div class="p-index-topics__thumbnail">
            <img src="https://i.postimg.cc/rmG34F4V/naan2.jpg" width="880" height="550" alt="">
          </div>
        </li>
      </ul>
    </div>
    <div class="section_progress">
      <div class="section_progressText js-progressText">0%</div>
      <div class="section_progressLine js-progressLine"></div>
    </div>
  </section>
  
  <section class="section">
    <div class="section_inner">
      <h2 class="section_title">section</h2>
      <p class="section_description">This is the end of the effect</p>
    </div>
  </section>
{% endblock %}