{% extends 'base.html' %}

{% block content %}
<div class='center-content'>
<h1> Your To-Do's: </h1>
{% for list in current_lists %}
    <div class='list-boxes'>
        <a class='todo-names' href="{{ list.get_absolute_url }}"><h1>{{list.name}}</h1></a>
        <h3 style='font-style: italic;'>Description: {{list.description}}</h3>
        <h4>Lastest Update: {{list.updated_at}}</h4>
        <a href="{% url 'lists:update-list' pk=list.pk %}"><button class='update-buttons'>Update To-Do List</button></a>
        <a href="{% url 'lists:delete-list' pk=list.pk %}"><button class='delete-buttons'>Delete To-Do List</button></a>
    </div>
{% empty %}
    <h2>Currently, you do not have any To-Do's<h2>
{% endfor %}
<hr style='width: 100%; margin-top: 50px;'>
<h3> Click below to create a list! <h3>
    <a href="{% url 'lists:create-list'%}"><button class='create-buttons'>Create To-Do List</button></a>
</div>

{% endblock %}