{% extends 'base.html' %}
{% block content %}

<div class='center-content'>
    <h1>To-Do List: {{list.name}}</h1>
    <h2>Uncompleted Tasks: </h2>
    {% for task in list.tasks.all %}
        <h4>{{task.name}} {{tasks.created_at}}</h4>
        <p>{{task.information}}</p>
        <a href="{% url 'tasks:delete-task' pk=task.pk %}"><input type="submit" value='Delete Item' class='delete-buttons'></a>
    {% empty %}
        <h4>Currently you have no tasks in this list! Add some below!</h4>
    {% endfor %}
    <h2>Completed Tasks: </h2>
    <a href="{% url 'tasks:create-task' pk=list.pk %}"><input type="submit" value="Create Tasks" class='create-buttons'></a>
    
</div>

{% endblock %}